<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelance.com</title>
    <link rel="stylesheet" href="/DT/public/style.css">
</head>

<body>

    <div class="main">
        <div class="header">
            <div class="nav">
                <div class="left">
                    <div class="logo">
                        <img src="/DT/public/assets/logo.svg" alt="mainLogo">
                        <div class="name">Talent Connect</div>
                    </div>
                    <div class="findFreeLanc">
                        <p>Find Freelancer</p>
                        <div class="findFreeLancOption">
                            <div class="skills">
                                <img src="/DT/public/assets/visual-mind-see-comprehend-picture-svgrepo-com.svg" alt="skills">
                                <p>Search Skills</p>
                            </div>
                            <div class="profiles">
                                <img src="/DT/public/assets/profile-svgrepo-com.svg" alt="Profiles">
                                <p>Search Profiles</p>
                            </div>
                        </div>
                    </div>
                    <div class="findWork">
                        <p>Find Work</p>
                        <div class="findWorkOption">
                            <div class="monetary">
                                <img src="/DT/public/assets/money-bag-svgrepo-com.svg" alt="monetary">
                                <p>Monetary Based</p>
                            </div>
                            <div class="barter">
                                <img src="/DT/public/assets/bargain-svgrepo-com.svg" alt="barter">
                                <p>Barter Based</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <button class="login">Login</button>
                    <button class="signup">Sign Up</button>
                </div>
            </div>
            <a href="profileTemplet.ejs">
                <div class="profile">
                
                </div>
            </a>

        </div>

        <div class="section">
            <div class="intro">
                <div class="content">
                    <div class="heading">
                        Are you looking for Freelancers ?
                    </div>
                    <div class="description">
                        Hire Great Freelancers, Fast. TalentConnect helps you hire elite freelancers at a moment's
                        notice
                    </div>
                </div>
                <div class="img">
                    <img src="/DT/public/assets/freelance.png" alt="Freelance">
                </div>
            </div>

            <div class="options">
                <div class="hire">
                    <a href="">
                        <img src="/DT/public/assets/hire.png" alt="hireFreelancer">
                        <p>Hire Freelancer</p>
                    </a>
                </div>
                <div class="findJob">
                    <a href="">
                        <img src="/DT/public/assets/job-search-svgrepo-com.svg" alt="search work">
                        <p>Find Work</p>
                    </a>
                </div>
                <div class="account">
                    <a href="dataForm.ejs">
                        <img src="/DT/public/assets/account-avatar-multimedia-svgrepo-com.svg" alt="createAccount">
                        <p>Create Account</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>